body {
    font-family: 'Roboto', arial, sans-serif;
    background-color: wheat;
    color: white;
    font-weight: 550;
}

header {
    background-color: tomato;
    border-radius: 5px;
    width: 840px;
    margin: auto;
    margin-bottom: -20px;
}

h1 {
    text-align: center;
    font-size: 30pt;
    line-height: 100px;
}

h2 {
    font-size: medium;
}

main {
    background-color: tomato;
    display: block;
    margin: auto;
    width: 800px;
    padding: 10px 20px 50px 20px;
    border-radius: 5px
}

#calculos {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    
}

#item2 {
    justify-self: center;
    align-self: center;
}

#item3 {
    justify-self: center;
}

.button {
    margin: 5px 20px;
    padding: 2px;
    color: tomato;
    font-weight: bold;
    font-size: 16pt;
    background-color: white;
    outline: none;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: whitesmoke;
}

.button:active {
    background-color: whitesmoke;
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
}

footer {
    color: black;
    text-align: center;
    margin-top: 10px;
}

a {
    font-weight: bold;
    color: black;
}

input {
    text-transform: uppercase;
    border-radius: 5px;
}

[tooltip]:before {
    position: absolute;
    content: attr(tooltip);
    opacity: 0;
    transition: all 0.2s ease;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 10pt;
    margin-left: -7px;
}

[tooltip]:hover:before {
    opacity: 1;
    margin-top: 30px;
}